*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header{
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;    
}

.logo img{
    width: 92px;
    height: 80px;
}

.title{
    padding: 0px 20px;
    font-size: 24px;
    line-height: 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
}

.span1{
    color: green;
}

.span2{
    color: white;
}

.span3{
    color: red;
}

.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 25px;  
}

.nav ul li{
    list-style: none;
    padding: 0px 13px ;
}

.nav a{
    font-family: Roboto;
    text-decoration: none;
    color: white;
    font-size: 16px;
    line-height: 19px;
}

.main{
    display: flex;
    background-color: #E5E5E5; 
    flex-wrap: wrap;
    justify-content: center;     
}

.section1{
    background-image: url('../img/delivery.png');
    background-size: cover;
    width: 490px;
    height: 350px;
    border-radius: 5px;
    margin: 35px 20px;
    flex-grow: 0.5;
}

.subtitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FC200C;
    padding: 20px;
}

.subtitle span{
    color: white;
}

.section2{
    width: 490px;
    height: 350px;
    border-radius: 5px;
    margin: 35px 20px;    
    flex-grow: 0.5;
    background: #FFFFFF;
}

.section2 .subtitle{
    text-align: center;
}

.section2 h3{
    padding: 30px 0px 20px 70px;    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.section2 article{
    display: flex;
    justify-content: space-around;       
}

.section2 article img{
    width: 102px;
    height: 139px;      
}

.section2 ol li{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px
}

.footer{
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.footer-section2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-section2 img{
    width: 92px;
    height: 80px;    
}

.footer-section2 h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
}

.footer li{
    list-style: none;    
}

.footer li a{
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #F3F3F3;
}



@media (max-width: 800px) {
    .header {
      flex-direction:column;
      align-items: center;
    }
  }