*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header1{
    height: 38px;
    background-color:#1CD1B0;
    padding: 10px;
}

.header1 h3{
    font-family: Roboto;
    font-size: 15px;
    line-height: 18px;
}

.header2{
    height: 101px;
    background-color: #00669F;
    padding: 28px;
}

.header2 h1{
    font-family: Roboto;
    font-size: 40px;
    line-height: 47px;
}

main{
    padding: 152px 32px;
}

main article{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 529px;
    margin:0px 20px;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.batman div{    
    background-image: url('../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png');
    height: 193px;
    background-size: 100%;
}  

.batman img{
    position: absolute;
    width: 120px;
    height: 118px;
    border-radius: 100px; 
    left: 130px;  
    top: 120px; 
}

.hq div{
    background-image: url('../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(1\).png');
    height: 193px;
    background-size: 100%
}

.hq img{
    position: absolute;
    width: 120px;
    height: 118px;
    border-radius: 100px;  
    left: 130px;  
    top: 120px;   
}

main article h2{
    position: relative;
    top: 60px;
    text-align: center;
    font-family: Roboto;    
    font-size: 30px;
    line-height: 35px;
}

main article p{
    position: relative;
    top: 60px;
    font-family: Roboto;    
    font-size: 16px;
    line-height: 19px;
    padding: 17px;
}

main article input{
    position: relative;
    top: 110px;
    width: 128.78px;
    height: 48.52px; 
    background-color: #00669F;
    left: 130px;
    font-family: Roboto;    
    font-size: 15px;
    line-height: 18px;
    color: #F3F3F3;
}

footer{
    height: 51px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer h5{
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
    color: #FFF9F9;
    padding: 16px;
}